html, body {
  background: linear-gradient(to bottom, #0c0c0c, #040e30);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}
/* 061649 */

body {
  min-height: 100vh;
  background: linear-gradient(to bottom, #0c0c0c, #040e30);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.container, .container-fluid, .row {
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

#root {
  margin: 0;
  padding: 0;
}

.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
