html, body {
  background-color: #1A1919;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.container, .container-fluid, .row {
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

#root {
  margin: 0;
  padding: 0;
}

.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
